/* Nav */
.navContainer {
  background: #1d3557;
  height: 10vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px rgb(48, 48, 48) solid;
}
.brand {
  font-size: 20px;
}
.buttons button {
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 15px;
}
.listContainer {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #457b9d;
}
/* List */
.list {
  margin: 0px 5px;
  width: 46vw;
  max-width: 400px;
  min-width: 310px;
  height: 80vh;
  padding: 10px;
  overflow: auto;
}
.listData {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
/* Card */
.cardContainer {
  width: 100%;
  border-radius: 4px;
  margin: 5px;
}
.title {
  background: #e63946;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  padding-bottom: 0px;
}
.card {
  background: #1d3557;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workersData {
  display: flex;
  flex-direction: row;
}
.workerImage {
  margin: 4px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
}
.icon {
  border: none;
  background: none;
}
