/* Nav */
.navContainer {
  background: #1d3557;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(48, 48, 48) solid;
}
.brand {
  margin-left: 20px;
  font-size: 20px;
}
.buttons {
  margin-right: 20px;
}
.buttons button {
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 15px;
}
/* Home */
.listComponent {
  background: #8d99ae;
  height: 580px;
}
.listContainer {
  display: flex;
  height: 88%;
  padding: 0px 10px;
}
/*CardCreator*/
.creatorForm {
  width: 300px;
  margin: 20px 5px;
  background: #1d3557;
  border-radius: 10px;
  padding: 10px;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.creatorForm input {
  background-color: #1d3557;
  border: solid white 2px;
  height: 40px;
  margin: 5px 0px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.creatorForm button {
  height: 40px;
  background: #e63946;
  border: none;
  border-radius: 5px;
}
/* Lists */
.list {
  width: 300px;
  height: 100%;
}

.listData {
  overflow: auto;
  height: 100%;
}
.listData::-webkit-scrollbar {
  display: none;
}
/* Card */
.cardContainer {
  width: 95%;
  max-width: 300px;
  height: 120px;
  border-radius: 4px;
  margin: 10px;
}
.title {
  background: #e63946;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  padding-bottom: 0px;
}
.card {
  background: #1d3557;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.workersData {
  display: flex;
  flex-direction: row;
}
.workerImage {
  margin: 4px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
}
.icon {
  border: none;
  background: none;
}
